web-app/simpleplc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="structuredtext">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" minOccurs="0"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="para" type="paraType"/>
                    <xs:element name="itemizedlist" type="listType"/>
                    <xs:element name="orderedlist" type="listType"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="title" type="xs:string"/>

    <xs:complexType name="listitemType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="bold" minOccurs="0"/>
            <xs:element ref="italics" minOccurs="0"/>
            <xs:element ref="underline" minOccurs="0"/>
            <xs:element ref="link" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="paraType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="bold" minOccurs="0"/>
            <xs:element ref="italics" minOccurs="0"/>
            <xs:element ref="underline" minOccurs="0"/>
            <xs:element ref="link" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="listType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="listitem" type="listitemType"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="inlineInsideType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="bold"/>
            <xs:element ref="italics"/>
            <xs:element ref="underline"/>
            <xs:element ref="link"/>
        </xs:choice>
    </xs:complexType>

    <xs:element name="bold" type="inlineInsideType"/>
    <xs:element name="italics" type="inlineInsideType"/>
    <xs:element name="underline" type="inlineInsideType"/>

    <xs:element name="link">
        <xs:annotation>
            <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
                <xopus:documentation>
                    <xopus:name xml:lang="en">Hyperlink</xopus:name>
                    <xopus:name xml:lang="nl">Hyperlink</xopus:name>
                </xopus:documentation>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:complexContent>
                <xs:extension base="inlineInsideType">
                    <xs:attribute name="href" use="required">
                        <xs:annotation>
                            <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
                                <xopus:documentation>
                                    <xopus:name xml:lang="en">URL</xopus:name>
                                    <xopus:name xml:lang="nl">URL</xopus:name>
                                </xopus:documentation>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="target" use="optional">
                        <xs:annotation>
                            <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
                                <xopus:documentation>
                                    <xopus:name xml:lang="en">Target</xopus:name>
                                    <xopus:name xml:lang="nl">Doel</xopus:name>
                                </xopus:documentation>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="_top">
                                    <xs:annotation>
                                        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
                                            <xopus:documentation>
                                                <xopus:name xml:lang="en">Current Window</xopus:name>
                                                <xopus:name xml:lang="nl">Huidige Venster</xopus:name>
                                            </xopus:documentation>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="_new">
                                    <xs:annotation>
                                        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
                                            <xopus:documentation>
                                                <xopus:name xml:lang="en">New Window</xopus:name>
                                                <xopus:name xml:lang="nl">Nieuw Venster</xopus:name>
                                            </xopus:documentation>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


</xs:schema>
