web-app/uk.practicallaw.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="revhistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="revision" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="revtitle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Finance Bill 2012"/>
        <xs:enumeration value="Budget 2009: APR and woodlands relief extended to property within the EEA"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="section3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="para"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="colspec" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="tbody"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="cols"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listitem">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="para"/>
        <xs:element ref="itemizedlist"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="practicenote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="section2">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="title"/>
        <xs:element ref="para"/>
        <xs:element ref="itemizedlist"/>
        <xs:element ref="section3"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tgroup"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="frame"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="section1">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="para"/>
        <xs:element ref="title"/>
        <xs:element ref="itemizedlist"/>
        <xs:element ref="section2"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="7 July 2012"/>
        <xs:enumeration value="23-Apr-2009"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="itemizedlist">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="listitem" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="emphasis" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="colspec">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="colname" use="optional"/>
          <xs:attribute type="xs:string" name="colwidth" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="entry" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="para">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="emphasis" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="table" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="xml:space"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="practicenote">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="metadata"/>
        <xs:element ref="fulltext"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="revision">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="revtitle"/>
        <xs:element ref="date"/>
        <xs:element ref="author"/>
        <xs:element ref="revdescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="tbody">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="row" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="emphasis">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="emphasis" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="role" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revdescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="section1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fulltext">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="section1" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="revhistory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>