web-app/uk.practicallaw.com.xml3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="locator" type="xlin:locatorType" xmlns:xlin="http://www.w3.org/1999/xlink"/>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
    <xs:complexType name="locatorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="href" use="optional"/>
                <xs:attribute type="xs:string" name="role" use="optional"/>
                <xs:attribute type="xs:string" name="title" use="optional"/>
                <xs:attribute type="xs:string" name="provider" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>