web-app/uk.practicallaw.com.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.arbortext.com/namespace/atict" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="user" type="atic:userType" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
    <xs:element name="del" type="atic:delType" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
    <xs:element name="addm" type="atic:addmType" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
    <xs:element name="info" type="atic:infoType" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
    <xs:element name="add" type="atic:addType" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
    <xs:complexType name="userType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="user" use="optional"/>
                <xs:attribute type="xs:string" name="fullname" use="optional"/>
                <xs:attribute type="xs:string" name="color" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="infoType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="tracking"/>
                <xs:attribute type="xs:string" name="ref"/>
                <xs:attribute type="xs:string" name="print"/>
                <xs:attribute type="xs:string" name="color"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="addType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="revtitle"/>
            <xs:element ref="date"/>
            <xs:element ref="author"/>
            <xs:element ref="revdescription"/>
            <xs:element ref="title"/>
            <xs:element ref="para"/>
            <xs:element type="plcxlinkType" name="plcxlink" minOccurs="0"/>
            <xs:element ref="emphasis"/>
            <xs:element type="simpleplcxlinkType" name="simpleplcxlink" minOccurs="0"/>
            <xs:element ref="atic:add" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
            <xs:element ref="atic:del" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
            <xs:element type="listitemType" name="listitem"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="user" use="optional"/>
        <xs:attribute type="xs:string" name="time" use="optional"/>
        <xs:attribute type="xs:string" name="role" use="optional"/>
    </xs:complexType>
    <xs:complexType name="delType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="revtitle"/>
            <xs:element ref="date"/>
            <xs:element ref="author"/>
            <xs:element ref="revdescription"/>
            <xs:element ref="title"/>
            <xs:element ref="para"/>
            <xs:element type="plcxlinkType" name="plcxlink" minOccurs="0"/>
            <xs:element ref="emphasis"/>
            <xs:element type="simpleplcxlinkType" name="simpleplcxlink" minOccurs="0"/>
            <xs:element ref="atic:add" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
            <xs:element ref="atic:del" xmlns:atic="http://www.arbortext.com/namespace/atict"/>
            <xs:element type="listitemType" name="listitem"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="user" use="optional"/>
        <xs:attribute type="xs:string" name="time" use="optional"/>
        <xs:attribute type="xs:string" name="role" use="optional"/>
    </xs:complexType>
    <xs:complexType name="addmType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="user"/>
                <xs:attribute type="xs:string" name="time"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>