web-app/doctypes/simpleplc/simpleplc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="emphasisType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="role" default="bold">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="bold"/>
                            <xs:enumeration value="italic"/>
                            <xs:enumeration value="bold-italic"/>
                            <xs:enumeration value="underline"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="itemizedlistType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="listitem" type="listitemType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="listitemType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="para" type="paraType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="orderedlistType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="listitem" type="listitemType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="paraType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="emphasis" type="emphasisType"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="structuredtext">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" minOccurs="0"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="para" type="paraType"/>
                    <xs:element name="itemizedlist" type="itemizedlistType"/>
                    <xs:element name="orderedlist" type="orderedlistType"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="title" type="xs:string"/>
</xs:schema>
