web-app/doctypes/entities/xlinkOLD.ent

<?xml version='1.0' encoding='UTF-8' ?>

        <!--Generated by XML Authority-->

        <!--XLINK INFO-->
        <!-- Version 0.2B -->
        <!-- Created By: ArborText -->
        <!-- The Public Identifier for this Module is:			PUBLIC "-//PLC//ELEMENTS PLC Xlink Structures//EN"-->
        <!--	 Charles Angione 	 Principal Consultant	 cangione@arbortext.com-->
        <!-- Amendments -->
        <!-- Practical Law Company -->
        <!-- 18 December 2001
            added label attribute to plcxlink
            added label attribute to locator
        -->
        <!-- modified by Spencer Garlick (SG), Arbortext Inc, 2002
             added a new export_tag element to the content model for plcxlink
                  (this was done to facilitate the XML <-> Word conversion process)
             this tag is hidden from the Epic dialogs so users won't have access to it
        -->

        <!-- 10 Dec 2002
             Added optional xref element to xlink:locator
             xref has a required link attribute of IDREF for cross-referencing
        -->

        <!-- 28 July 2003
             Took out xmlns declaration in plcxlink to sort out xlst bug
             (Case 24357)
        -->


        <!--
            DP 28 Oct 2003
            Allow xref to have PCDATA content. Without this change, it is impossible to create xlinks in document
            automation. See bug 80.

         -->
        <!-- ############################## -->
        <!ENTITY % xlink.arc.attributes " xlink:type     (arc )  #FIXED 'arc'
   xlink:arcrole CDATA    #IMPLIED
   xlink:title   CDATA    #IMPLIED
   xlink:show     (new | replace | embed | other | none )  #IMPLIED
   xlink:actuate  (onLoad | onRequest | other | none )  #IMPLIED
   xlink:from    NMTOKEN  #IMPLIED
   xlink:to      NMTOKEN  #IMPLIED">

        <!ENTITY % xlink.locator.attributes " xlink:type   (locator )  #FIXED 'locator'
   xlink:href  CDATA  #REQUIRED
   xlink:role  CDATA  #IMPLIED
   xlink:title CDATA  #IMPLIED
   xlink:label CDATA  #IMPLIED
   temp_href  CDATA #IMPLIED
   temp_title  CDATA #IMPLIED
   temp_role  CDATA #IMPLIED">

        <!ENTITY % xlink.resource.attributes " xlink:type   (resource )  #FIXED 'resource'
   xlink:role  CDATA  #IMPLIED
   xlink:title CDATA  #IMPLIED">

        <!ELEMENT export_tag (#PCDATA)>
        <!ATTLIST export_tag type CDATA #IMPLIED>

        <!ELEMENT plcxlink ((xlink:arc | xlink:locator | xlink:title | xlink:resource | export_tag )*)>

        <!ATTLIST plcxlink
                xlink:type   (extended) #FIXED 'extended'
                xlink:role  CDATA  #IMPLIED
                xlink:title CDATA  #IMPLIED
                xlink:label CDATA  #IMPLIED
                temp_title  CDATA #IMPLIED
                temp_role  CDATA #IMPLIED>

        <!ELEMENT simpleplcxlink (#PCDATA)>

        <!ATTLIST simpleplcxlink xmlns:xlink CDATA #FIXED 'http://www.w3.org/1999/xlink'
                xlink:type (simple) #FIXED 'simple'
                xlink:href CDATA #REQUIRED
                xlink:role CDATA #IMPLIED
                xlink:title CDATA #IMPLIED
                temp_title  CDATA #IMPLIED
                temp_role  CDATA #IMPLIED
                temp_href  CDATA #IMPLIED>

        <!ELEMENT xlink:arc EMPTY>
        <!ATTLIST xlink:arc  %xlink.arc.attributes; >

        <!ELEMENT xlink:locator (#PCDATA | xref)*>
        <!ATTLIST xlink:locator  %xlink.locator.attributes; >

        <!ELEMENT xlink:title ANY>
        <!ATTLIST xlink:title  xlink:type  (title )  #FIXED 'title' >

        <!ELEMENT xlink:resource (#PCDATA)>
        <!ATTLIST xlink:resource  %xlink.resource.attributes; >

        <!ELEMENT xref (#PCDATA)>
        <!ATTLIST xref link IDREF #REQUIRED>
