web-app/doctypes/plc/soextblx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML EXCHANGE TABLE MODEL DECLARATION MODULE -->
<!--
    This set of declarations defines the XML version of the Exchange
    Table Model as of the date shown in the Formal Public Identifier
    (FPI) for this entity.
    
    This set of declarations may be referred to using a public external
    entity declaration and reference as shown in the following three
    lines:
    
    <!ENTITY % calstblx
      PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN">
      %calstblx;
    
    If various parameter entities used within this set of declarations
    are to be given non-default values, the appropriate declarations
    should be given before calling in this package (i.e., before the
    "%calstblx;" reference).
-->
<!--
    The motivation for this XML version of the Exchange Table Model
    is simply to create an XML version of the SGML Exchange Table
    Model. By design, no effort has been made to "improve" the model.
    
    This XML version incorporates the logical bare minimum changes
    necessary to make the Exchange Table Model a valid XML DTD.
-->
<!--
    The XML version of the Exchange Table Model differs from
    the SGML version in the following ways:
    
    The following parameter entities have been removed:
    
      - tbl.table.excep, tbl.hdft.excep, tbl.row.excep, tbl.entry.excep
        There are no exceptions in XML. The following normative statement
        is made in lieu of exceptions: the exchange table model explicitly
        forbids a table from occurring within another table. If the
        content model of an entry includes a table element, then this
        cannot be enforced by the DTD, but it is a deviation from the
        exchange table model to include a table within a table.
    
      - tbl.hdft.name, tbl.hdft.mdl, tbl.hdft.excep, tbl.hdft.att
        The motivation for these elements was to change the table
        header/footer elements. Since XML does not allow element declarations
        to contain name groups, and the exchange table model does not
        allow a table to contain footers, the continued presence of these
        attributes seems unnecessary.
    
    The following parameter entity has been added:
    
      - tbl.thead.att
        This entity parameterizes the attributes on thead. It replaces
        the tbl.hdft.att parameter entity.
    
    Other miscellaneous changes:
    
      - Tag ommission indicators have been removed
      - Comments have been removed from declarations
      - NUMBER attributes have been changed to NMTOKEN
      - NUTOKEN attributes have been to changed to NMTOKEN
      - Removed the grouping characters around the content model
        parameter entry for the 'entry' element. This is necessary
        so that an entry can contain #PCDATA and be defined as an
        optional, repeatable OR group beginning with #PCDATA.
-->
<!--
    This entity includes a set of element and attribute declarations
    that partially defines the Exchange table model.  However, the model
    is not well-defined without the accompanying natural language
    description of the semantics (meanings) of these various elements,
    attributes, and attribute values.  The semantic writeup, also available
    from SGML Open, should be used in conjunction with this entity.
-->
<!--
    In order to use the Exchange table model, various parameter entity
    declarations are required.  A brief description is as follows:
    
    ENTITY NAME      WHERE USED              WHAT IT IS
    
    %yesorno         In ATTLIST of:          An attribute declared value
                     almost all elements     for a "boolean" attribute
    
    %paracon         In content model of:    The "text" (logical content)
                     <entry>                 of the model group for <entry>
    
    %titles          In content model of:    The "title" part of the model
                     table element           group for the table element
    
    %tbl.table.name  In declaration of:      The name of the "table"
                     table element           element
    
    %tbl.table-titles.mdl In content model of: The model group for the title
                     table elements          part of the content model for
                                             table element
    
    %tbl.table.mdl   In content model of:    The model group for the content
                     table elements          model for table element,
                                             often (and by default) defined
                                             in terms of %tbl.table-titles.mdl
                                             and tgroup
    
    %tbl.table.att   In ATTLIST of:          Additional attributes on the
                     table element           table element
    
    %bodyatt         In ATTLIST of:          Additional attributes on the
                     table element           table element (for backward
                                             compatibility with the SGML
                                             model)
    
    %tbl.tgroup.mdl  In content model of:    The model group for the content
                     <tgroup>                model for <tgroup>
    
    %tbl.tgroup.att  In ATTLIST of:          Additional attributes on the
                     <tgroup>                <tgroup> element
    
    %tbl.thead.att   In ATTLIST of:          Additional attributes on the
                     <thead>                 <thead> element
    
    %tbl.tbody.att   In ATTLIST of:          Additional attributes on the
                     <tbody>                 <tbody> element
    
    %tbl.colspec.att In ATTLIST of:          Additional attributes on the
                     <colspec>               <colspec> element
    
    %tbl.row.mdl     In content model of:    The model group for the content
                     <row>                   model for <row>
    
    %tbl.row.att     In ATTLIST of:          Additional attributes on the
                     <row>                   <row> element
    
    %tbl.entry.mdl   In content model of:    The model group for the content
                     <entry>                 model for <entry>
    
    %tbl.entry.att   In ATTLIST of:          Additional attributes on the
                     <entry>                 <entry> element
    
    This set of declarations will use the default definitions shown below
    for any of these parameter entities that are not declared before this
    set of declarations is referenced.
-->
<!--
    CB modified Oct 2004
    This XML version of the Cals table DTD has been modified to bring in line with 4.3. changes to Cals model
-->
<!--
    These definitions are not directly related to the table model, but are
    used in the default CALS table model and may be defined elsewhere (and
    prior to the inclusion of this table module) in the referencing DTD.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="##da" schemaLocation="da.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.ent.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xs:simpleType name="yesorno">
        <xs:restriction base="xs:NMTOKEN"/>
    </xs:simpleType>
    <!-- no if zero(s), yes if any other value -->
    <xs:group name="titles">
        <xs:sequence>
            <xs:element minOccurs="0" ref="title"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="paracon">
        <xs:sequence>
            <xs:group ref="para.level"/>
        </xs:sequence>
    </xs:group>
    <!-- CB : note this is changed from the cals default of PCDATA -->
    <!--
        The parameter entities as defined below change and simplify the CALS table
        model as published (as part of the Example DTD) in MIL-HDBK-28001.  The
        resulting simplified DTD has support from the SGML Open vendors and is
        therefore more interoperable among different systems.
        
        These following declarations provide the Exchange default definitions
        for these entities.  However, these entities can be redefined (by giving
        the appropriate parameter entity declaration(s) prior to the reference
        to this Table Model declaration set entity) to fit the needs of the
        current application.
        
        Note, however, that changes may have significant effect on the ability to
        interchange table information.  These changes may manifest themselves
        in useability, presentation, and possible structure information degradation.
    -->
    <xs:group name="tbl.table-titles.mdl">
        <xs:sequence>
            <xs:group ref="titles"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="tbl.table-main.mdl">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="tgroup"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tbl.table.mdl">
        <xs:choice>
            <xs:group ref="tbl.table-titles.mdl"/>
            <xs:group ref="tbl.table-main.mdl"/>
        </xs:choice>
    </xs:complexType>
    <xs:attributeGroup name="tbl.table.att">
        <xs:attribute name="pgwide" type="yesorno"/>
        <xs:attribute name="tabstyle"/>
    </xs:attributeGroup>
    <xs:complexType name="tbl.tgroup.mdl">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="colspec"/>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element ref="tbody"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tbl.row.mdl">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="entry"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tbl.entry.mdl">
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="paracon"/>
    </xs:complexType>
    <!-- =====  Element and attribute declarations follow. ===== -->
    <!--
        Default declarations previously defined in this entity and
        referenced below include:
        ENTITY % tbl.table.name       "table"
        ENTITY % tbl.table-titles.mdl "%titles;,"
        ENTITY % tbl.table.mdl        "%tbl.table-titles; tgroup+"
        ENTITY % tbl.table.att        "
                           pgwide          %yesorno;       #IMPLIED "
    -->
    <xs:element name="table">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tbl.table.mdl">
                    <xs:attribute name="frame">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="top"/>
                                <xs:enumeration value="bottom"/>
                                <xs:enumeration value="topbot"/>
                                <xs:enumeration value="all"/>
                                <xs:enumeration value="sides"/>
                                <xs:enumeration value="none"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="colsep" type="yesorno"/>
                    <xs:attribute name="rowsep" type="yesorno"/>
                    <xs:attributeGroup ref="tbl.table.att"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!--
        Default declarations previously defined in this entity and
        referenced below include:
        ENTITY % tbl.tgroup.mdl    "colspec*,thead?,tbody"
        ENTITY % tbl.tgroup.att    ""
    -->
    <xs:element name="tgroup">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tbl.tgroup.mdl">
                    <xs:attribute name="cols" use="required" type="xs:NMTOKEN"/>
                    <xs:attribute name="colsep" type="yesorno"/>
                    <xs:attribute name="rowsep" type="yesorno"/>
                    <xs:attribute name="align">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="left"/>
                                <xs:enumeration value="right"/>
                                <xs:enumeration value="center"/>
                                <xs:enumeration value="justify"/>
                                <xs:enumeration value="char"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!--
        Default declarations previously defined in this entity and
        referenced below include:
        ENTITY % tbl.colspec.att   ""
    -->
    <xs:element name="colspec">
        <xs:complexType>
            <xs:attribute name="colnum" type="xs:NMTOKEN"/>
            <xs:attribute name="colname" type="xs:NMTOKEN"/>
            <xs:attribute name="colwidth"/>
            <xs:attribute name="colsep" type="yesorno"/>
            <xs:attribute name="rowsep" type="yesorno"/>
            <xs:attribute name="align">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="justify"/>
                        <xs:enumeration value="char"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="char"/>
            <xs:attribute name="charoff" type="xs:NMTOKEN"/>
        </xs:complexType>
    </xs:element>
    <!--
        Default declarations previously defined in this entity and
        referenced below include:
        ENTITY % tbl.thead.att      ""
    -->
    <xs:element name="thead">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="row"/>
            </xs:sequence>
            <xs:attribute name="valign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--
        Default declarations previously defined in this entity and
        referenced below include:
        ENTITY % tbl.tbody.att     ""
    -->
    <xs:element name="tbody">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="row"/>
            </xs:sequence>
            <xs:attribute name="valign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--
        Default declarations previously defined in this entity and
        referenced below include:
        ENTITY % tbl.row.mdl       "entry+"
        ENTITY % tbl.row.att       ""
    -->
    <xs:element name="row">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tbl.row.mdl">
                    <xs:attribute name="rowsep" type="yesorno"/>
                    <xs:attribute name="valign">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="top"/>
                                <xs:enumeration value="middle"/>
                                <xs:enumeration value="bottom"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="rowstyle"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!--
        Default declarations previously defined in this entity and
        referenced below include:
        ENTITY % paracon           "#PCDATA"
        ENTITY % tbl.entry.mdl     "(%paracon;)*"
        ENTITY % tbl.entry.att     ""
    -->
    <xs:element name="entry">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tbl.entry.mdl">
                    <xs:attribute name="colname" type="xs:NMTOKEN"/>
                    <xs:attribute name="namest" type="xs:NMTOKEN"/>
                    <xs:attribute name="nameend" type="xs:NMTOKEN"/>
                    <xs:attribute name="morerows" type="xs:NMTOKEN"/>
                    <xs:attribute name="colsep" type="yesorno"/>
                    <xs:attribute name="rowsep" type="yesorno"/>
                    <xs:attribute name="align">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="left"/>
                                <xs:enumeration value="right"/>
                                <xs:enumeration value="center"/>
                                <xs:enumeration value="justify"/>
                                <xs:enumeration value="char"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="char"/>
                    <xs:attribute name="charoff" type="xs:NMTOKEN"/>
                    <xs:attribute name="valign">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="top"/>
                                <xs:enumeration value="middle"/>
                                <xs:enumeration value="bottom"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
