web-app/doctypes/plc/xlink.ent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by XML Authority -->
<!-- XLINK INFO -->
<!-- Version 0.2B -->
<!-- Created By: ArborText -->
<!--  The Public Identifier for this Module is:			PUBLIC "-//PLC//ELEMENTS PLC Xlink Structures//EN" -->
<!-- 	 Charles Angione 	 Principal Consultant	 cangione@arbortext.com -->
<!-- Amendments -->
<!-- Practical Law Company -->
<!--
    18 December 2001
    added label attribute to plcxlink
    added label attribute to locator
-->
<!--
    modified by Spencer Garlick (SG), Arbortext Inc, 2002
    added a new export_tag element to the content model for plcxlink
        (this was done to facilitate the XML <-> Word conversion process)
        this tag is hidden from the Epic dialogs so users won't have access to it
-->
<!--
    10 Dec 2002
    Added optional xref element to xlink:locator
    xref has a required link attribute of IDREF for cross-referencing
-->
<!--
    28 July 2003
    Took out xmlns declaration in plcxlink to sort out xlst bug
    (Case 24357)
-->
<!--
    DP 28 Oct 2003
    Allow xref to have PCDATA content. Without this change, it is impossible to create xlinks in document 
    automation. See bug 80.
    
-->
<!-- CB Aug 2009 	- added the plcrefprefix categories for Fatwire -->
<!-- ############################## -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.w3.org/1999/xlink"
           xmlns:xlink="http://www.w3.org/1999/xlink">
    <xs:import schemaLocation="plc.xsd"/>
    <xs:import namespace="##da" schemaLocation="da.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xs:attributeGroup name="xlink.arc.attributes">
        <xs:attribute name="type" default="arc" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="arc"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="arcrole" form="qualified"/>
        <xs:attribute name="title" form="qualified"/>
        <xs:attribute name="show" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="new"/>
                    <xs:enumeration value="replace"/>
                    <xs:enumeration value="embed"/>
                    <xs:enumeration value="other"/>
                    <xs:enumeration value="none"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="actuate" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="onLoad"/>
                    <xs:enumeration value="onRequest"/>
                    <xs:enumeration value="other"/>
                    <xs:enumeration value="none"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="from" form="qualified" type="xs:NMTOKEN"/>
        <xs:attribute name="to" form="qualified" type="xs:NMTOKEN"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="xlink.locator.attributes">
        <xs:attribute name="type" default="locator" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="locator"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="href" use="required" form="qualified"/>
        <xs:attribute name="role" form="qualified"/>
        <xs:attribute name="title" form="qualified"/>
        <xs:attribute name="provider" form="qualified"/>
        <xs:attribute name="label" form="qualified"/>
        <xs:attribute name="pit" form="qualified"/>
        <xs:attribute name="plcrefprefix" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="cb"/>
                    <xs:enumeration value="ea"/>
                    <xs:enumeration value="ld"/>
                    <xs:enumeration value="mi"/>
                    <xs:enumeration value="pa"/>
                    <xs:enumeration value="pm"/>
                    <xs:enumeration value="rt"/>
                    <xs:enumeration value="sa"/>
                    <xs:enumeration value="st"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="popup" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="no"/>
                    <xs:enumeration value="yes"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="temp_href"/>
        <xs:attribute name="temp_title"/>
        <xs:attribute name="temp_role"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="xlink.resource.attributes">
        <xs:attribute name="type" default="resource" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="resource"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="role" form="qualified"/>
        <xs:attribute name="title" form="qualified"/>
    </xs:attributeGroup>
    <xs:group name="element.export_tag">
        <xs:sequence>
            <xs:element name="export_tag" form="unqualified">
                <xs:complexType mixed="true">
                    <xs:attribute name="type"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="element.plcxlink">
        <xs:sequence>
            <xs:element name="plcxlink" form="unqualified">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="xlink:arc"/>
                        <xs:element ref="xlink:locator"/>
                        <xs:element ref="xlink:title"/>
                        <xs:element ref="xlink:resource"/>
                        <xs:group ref="xlink:element.export_tag"/>
                    </xs:choice>
                    <xs:attribute name="type" default="extended" form="qualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="extended"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="role" form="qualified"/>
                    <xs:attribute name="title" form="qualified"/>
                    <xs:attribute name="label" form="qualified"/>
                    <xs:attribute name="temp_title"/>
                    <xs:attribute name="temp_role"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="element.simpleplcxlink">
        <xs:sequence>
            <xs:element name="simpleplcxlink" form="unqualified">
                <xs:complexType mixed="true">
                    <xs:attribute name="type" default="simple" form="qualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="simple"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="href" use="required" form="qualified"/>
                    <xs:attribute name="role" form="qualified"/>
                    <xs:attribute name="title" form="qualified"/>
                    <xs:attribute name="temp_title"/>
                    <xs:attribute name="temp_role"/>
                    <xs:attribute name="temp_href"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:element name="arc">
        <xs:complexType>
            <xs:attributeGroup ref="xlink:xlink.arc.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="locator">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="xlink:element.xref"/>
            <xs:attributeGroup ref="xlink:xlink.locator.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="title">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="any">
                    <xs:attribute name="type" default="title" form="qualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="title"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="resource">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="xlink:xlink.resource.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="element.xref">
        <xs:sequence>
            <xs:element name="xref" form="unqualified">
                <xs:complexType mixed="true">
                    <xs:attribute name="link" use="required" type="xs:IDREF"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
</xs:schema>
